body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.main {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px
        rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    width: 600px;
}
.main h2 {
    color: #4caf50;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
}
button[type="reset"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #d85b3c;
    color: white;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
}
.container-fluid{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: row;
}
.btn{
    margin: 10px;
    padding: 10px;
}

input:focus{
    border-radius: rgb(96, 174, 96);
    box-shadow: 0 0 10px rgb(91, 177, 91);
}